/*.user-select-canvas {
	display: flex;
	flex-wrap: wrap;
}*/

/*.user-feedback-canvas {

}

.user-select img, .user-feedback img {
	width: 300px;
}
.user-select, .user-feedback{
	width: 300px;
	margin: 5px;
	padding: 5px;
	text-align: center;
}

.user-feedback-lower {
	display: flex;
	align-items: center;
}

.user-feedback-lower-input {

}*/

.user-selected {
	background-color: CadetBlue ;
}
.card-content-all-users {
	height: 80px;
}
.card-all-users {
	cursor: pointer;
}

.card-image-feedback{
	width: 300px;
}

.card-image-all-users img:hover {
	opacity: 0.8;
	filter: alpha(opacity=100); /* For IE8 and earlier */
}

.user-registry {
	margin-top: 20%;
}

.feedback-rating {
	display: flex;
	align-items: center;
}

.feedback-rating-icons{
	display: flex;
}

.feedback-rating-icon {
	margin: 10px;
	white-space:nowrap;
	text-align: center;
}

.user-feedback {
	align-items: center;
}

.material-icons-feedback {
	font-size: 3em;

	cursor: pointer;
}

.feedback-rating-icon{
		color: grey;
}
.feedback-rating-icon  :hover{
	color: lightgreen;
}

.active-icon {
	color: green	!important;
}

@keyframes App-logo-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

/*.card-content{text-align: center}*/
