.deloittelogo{
	width:50%;
}

.user-selected {
	background-color: CadetBlue ;
}
.card-content-all-users {
	height: 80px;
}
.card-all-users {
	cursor: pointer;
}

.card-image-feedback{
	width: 300px;
}

.card-image-all-users img:hover {
	opacity: 0.8;
	filter: alpha(opacity=100); /* For IE8 and earlier */
}

.results-image img{
	width: 300px;
}

.user-registry {
	margin-top: 20px;
}

.feedback-rating {
	display: flex;
	align-items: center;
}

.feedback-rating-icons{
	display: flex;
}

.feedback-rating-icon {
	margin: 10px;
	white-space:nowrap;
	text-align: center;
}

.user-feedback {
	align-items: center;
}

.material-icons-feedback {
	font-size: 3em;

	cursor: pointer;
}

.feedback-rating-icon{
		color: grey;
}
.feedback-rating-icon  :hover{
	color: lightgreen;
}

.results-rating-icon {
	margin: 10px;
	font-size: 0.5em;
	color: dimgrey;
}

.results-comments{
	font-size: 0.65em;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 1px dotted darkgrey;
}

.active-icon {
	color: green;
}

.validation-fail {
	color: lightCoral;
}

.dont-show {
	display: none;
}

.show {
	color: red;
	margin: 5px;
}

.dropdown-invalid {
	border-bottom: 2px solid red;;
}


@keyframes App-logo-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

/*.card-content{text-align: center}*/
