/*.user-select-canvas {
	display: flex;
	flex-wrap: wrap;
}*/

/*.user-feedback-canvas {

}

.user-select img, .user-feedback img {
	width: 300px;
}
.user-select, .user-feedback{
	width: 300px;
	margin: 5px;
	padding: 5px;
	text-align: center;
}

.user-feedback-lower {
	display: flex;
	align-items: center;
}

.user-feedback-lower-input {

}*/

.user-selected {
	background-color: CadetBlue ;
}
.user-notselected {
}



@keyframes App-logo-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

/*.card-content{text-align: center}*/
